@import '../../variables';

.container {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: $breakpoint-xs) {
    :root {
        --container-width: 320px;
    }
}

@media screen and (min-width: $breakpoint-sm) {
    :root {
        --container-width: 560px;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    :root {
        --container-width: 900px;
    }
}

@media screen and (min-width: $breakpoint-xl) {
    :root {
        --container-width: 1040px;
    }
}
