.icon {
    display: inline-block;
    vertical-align: middle;

    &--arrow-right {
        content: url('/assets/icons/arrow-right.svg');
    }

    &--arrow-left {
        content: url('/assets/icons/arrow-left.svg');
    }

    &--coins-1 {
        content: url('/assets/icons/coins-1.svg');
    }

    &--coins-2 {
        content: url('/assets/icons/coins-2.svg');
    }

    &--coins-3 {
        content: url('/assets/icons/coins-3.svg');
    }

    &--diamond {
        content: url('/assets/icons/diamond.svg');
    }

    &--folder {
        content: url('/assets/icons/folder.svg');
    }

    &--erc-20 {
        content: url('/assets/icons/erc-20.svg');
    }

    &--cap {
        content: url('/assets/icons/cap.svg');
    }

    &--linked-in {
        content: url('/assets/icons/linked-in.svg');
    }
}
