.icon {
    display: inline-block;
    vertical-align: middle;

    &--arrow-right {
        content: url('/assets/icons/arrow-right.svg');
    }

    &--arrow-left {
        content: url('/assets/icons/arrow-left.svg');
    }
}
