.slider-button {
    z-index: 2;
    height: 60px;
    width: 60px;
    display: flex;
    background-color: var(--dark-color);
    border: none;
    border-radius: 50%;

    .icon {
        margin: auto;
    }

    &--previous {
        left: 0;
    }

    &--next {
        right: 0;
    }
}
