.action {
    text-align: left;

    &__content {
        margin-top: 10px;
    }

    &__date {
        margin-top: 0;
        margin-bottom: 4px;
        font: 700 16px var(--base-font-family);
    }

    &__description {
        font: 400 16px var(--base-font-family);

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &::before {
        display: block;
        content: '';
        width: 28px;
        height: 28px;
        background-image: url('/assets/icons/point.svg');
    }
}
