.feature {
    width: 250px;
    position: relative;
    text-align: center;

    &__content {
        border-radius: 14px;
        height: 296px;
        margin-top: 40px;
        padding: 64px 10px 20px 10px;
        background-color: var(--accent-color);
    }

    &__logo {
        width: 88px;
        height: 88px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title {
        font: 700 17px var(--base-font-family);
        color: var(--darker-color);
        margin-top: 0;
        margin-bottom: 14px;
        height: 44px;
    }
}
