.sign-up-field {
    display: flex;
    align-items: center;

    &__input {
        border-radius: 20px;
        padding: 8px 20px;
        border: 2px solid var(--accent-color);
        background-color: rgba(var(--accent-color-rgb), 0.1);
        margin-right: 20px;
        color: var(--contrast-light-color);
        font: 400 14px var(--base-font-family);

        &::placeholder {
            font: 400 14px var(--base-font-family);
            color: var(--contrast-light-color);
        }
    }

    &__button {
        cursor: pointer;
        white-space: nowrap;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        font: 700 14px var(--base-font-family);
        color: var(--accent-color);
        background-color: rgba(var(--contrast-light-color-rgb), 0.1);
    }
}
