.development {
    background-image: url('/assets/images/sections/development.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 94px;

    &__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    &__title {
        color: var(--accent-color);
        margin-bottom: 32px;
    }

    .versions {
        display: flex;
        gap: 80px;
        justify-content: space-between;
    }
}
