.information {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--light-color);
    text-align: center;
    background-image: linear-gradient(
        var(--contrast-light-color),
        var(--light-color)
    );

    &__app {
        position: absolute;
        right: 0;
        bottom: 100%;
        height: 615px;
        object-fit: cover;
    }

    &__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__description {
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    &__text {
        width: 600px;
        margin-right: auto;
        margin-left: auto;

        p {
            margin-top: 0;
            margin-bottom: 0;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }

    .financial-table {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        width: 770px;
        margin-bottom: 50px;
    }

    .sales {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 40px;
        position: relative;
    }

    .charts {
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }
}
