.known-from {
    padding-top: 40px;
    padding-bottom: 40px;

    &__content {
        text-align: center;
        background-color: var(--light-color);
        padding: 20px 25px;
        border-radius: 14px;
    }

    .partners {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 85px;
        padding-left: 85px;
    }
}
