.potential {
    padding-top: 60px;
    padding-bottom: 56px;
    text-align: center;
    background-image: url('/assets/images/sections/potential.jpg');
    background-size: cover;

    &__container {
        position: relative;
    }

    &__app {
        top: 90px;
        right: 0;
        position: absolute;
        object-fit: cover;
        height: 483px;
    }

    &__title {
        margin-bottom: 60px;
        width: 460px;
        margin-right: auto;
        margin-left: auto;
    }

    &__text {
        text-align: left;
        width: 480px;
        border-radius: 14px;
        padding: 64px 40px;
        background-color: var(--accent-color);
        font: var(--base-font);

        p {
            margin-top: 0;
            margin-bottom: 0;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
}
