:root {
    --accent-color: #e0b300;
    --dark-color: #898989;
    --darker-color: #000;
    --light-color: #f2f2f2;
    --contrast-ligt-color: #fff;
    --contrast-ligt--rgb: 256, 256, 256;

    --base-font-family: 'Poppins', sans-serif;
    --base-font: 400 15px var(--base-font);
}
